<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yub.edu.biz.mapper.EduStudyCardCourseMapper">

    <select id="selectCourseIdsByCardId" resultType="java.lang.Long">
        SELECT course_id FROM edu_study_card_course WHERE card_id = #{cardId}
    </select>

    <insert id="batchInsert">
        INSERT INTO edu_study_card_course (card_id, course_id) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.cardId}, #{item.courseId})
        </foreach>
    </insert>

    <delete id="deleteByCardId">
        DELETE FROM edu_study_card_course WHERE card_id = #{cardId}
    </delete>

</mapper>
