<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yub.edu.biz.mapper.EduTeacherRoleMapper">

    <select id="selectRoleIdsByTeacherId" resultType="java.lang.Long">
        SELECT role_id FROM edu_teacher_role WHERE teacher_id = #{teacherId}
    </select>

    <delete id="deleteByTeacherId">
        DELETE FROM edu_teacher_role WHERE teacher_id = #{teacherId}
    </delete>

    <insert id="batchInsert">
        INSERT INTO edu_teacher_role (teacher_id, role_id, create_by)
        VALUES
        <foreach collection="roleIds" item="roleId" separator=",">
            (#{teacherId}, #{roleId}, #{createBy})
        </foreach>
    </insert>

</mapper>
